@model AttendanceViewModel
<h1 class="text-center"> Attendance Edit</h1>
    <div>
        <form action="/Attendance/update" method="post">

            @* <div class="mb-3">
                <input type="hidden" name="Id" value="@Model.Id" />
                <label for="StudentId" class="form-label">StudentID</label>
                <input type="text" name="StudentId" class="form-control" value="@Model.StudentId" required>
            </div> *@
        <div class="mb-3">
            <input type="hidden" name="Id" value="@Model.Id" />
            <label for="StudentId" class="form-label">StudentID</label>
            <select class="form-select" name="StudentId">
                @foreach (var student in ViewBag.Students)
                {
                    if (@student.Id == Model.StudentId)
                    {
                        <option value="@student.Id" selected>@student.Name</option>
                    }
                    else
                    {
                        <option value="@student.Id">@student.Name</option>
                    }
                }

            </select>
        </div>
            <div class="mb-3">
                <label for="CourseId" class="form-label">CourseID</label>
            <select class="form-select" name="CourseId">
                @foreach (var course in ViewBag.Courses)
                {
                    if (@course.Id == Model.CourseId)
                    {
                        <option value="@course.Id" selected>@course.Name</option>
                    }
                    else
                    {
                        <option value="@course.Id">@course.Name</option>
                    }
                }
                </select>
            </div>
            <div class="mb-3">
                <label for="Date" class="form-label">Date</label>
                <input type="date" name="Date" class="form-control" value="@Model.Date.ToString("yyyy-MM-dd")">
            </div>
            <div class="mb-3">
                <label for="Status" class="form-label">Status</label>
                <select class="form-select" name="Status">
                @if (Model.Status)
                {
                    <option value="true" selected>Present</option>
                    <option value="false">Absent</option>
                }
                else
                {
                    <option value="false">Present</option>
                    <option value="false" selected>Absent</option>
                }

                </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Update</button>
                <!--<button class="btn btn-primary" href="/Course/List">Cancel</button>-->
                <a href="/Attendance/List" class="btn btn-primary" role="button">Cancel</a>
            </div>
        </form>

    </div>
